<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - Fahrzeugschaden</title>
</head>

<body>
    <h3>Fahrzeugschaden</h3>
    <p>Kunde: {{customer}}</p>
    <p>Fahrzeug: {{vehicle}}</p>
    <p>Schadenshergang: {{damageDescription}}</p>
    <p>Link:
        <a href="https://app.se-carmanagement.de/cars/{{vehicleId}}" target="_blank">
            https://app.se-carmanagement.de/cars/{{vehicleId}}
        </a>
    </p>
    <h4>Ihr Team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="max-height: 60px; max-width: 190px;" />

    <p>
        Geltinger Str. 23 <br />
        85652 Pliening
    </p>
    <p></p>

    <p>
        Tel: 08121 / 22 43 8 - 22 <br />
        Fax: 08121 / 22 43 8 - 10
    </p>

    <a href="mailto:info@se-carmanagement.de">info@se-carmanagement.de</a> <br />
    <a href="https://www.se-carmanagement.de" target="_blank">www.se-carmanagement.de</a>

    <p>
        Bitte beachten Sie, dass diese Information ausschließlich für den/die Adressaten bestimmt ist und daher
        vertraulich oder gesetzlich geschützte Informationen enthalten kann. Sollten Sie nicht der bestimmungsgemäße
        Adressat sein, bitten wir Sie den Absender darauf hinzuweisen und im Anschluss diese Mail umgehend zu
        vernichten. Anderen als dem bestimmungsgemäßen Adressaten ist es untersagt, diese E-Mail zu lesen, zu speichern,
        weiterzuleiten oder ihren Inhalt auf welche Weise auch immer zu verwenden. Wir verwenden aktuelle
        Virenschutzprogramme. Für Schäden, die dem Empfänger durch von uns zugesandte mit Viren befallene E-Mails
        entstehen, schließen wir jede Haftung aus.
    </p>

    <p>--</p>
    <p>Schneider & Eberhart Carmanagement GbR Gesellschafter: Maria Schneider und Wolfgang Eberhart</p>
</body>

</html>
