<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - Fahrzeugverkauf</title>
</head>

<body>
    <h3>Fahrzeugverkauf</h3>

    <p>Hallo, ich möchte mein Auto verkaufen.</p> <br />
    <p>Kunde: {{customer}}</p>
    <p>Fahrzeug: {{vehicle}}</p>
    <p>Link:
        <a href="https://app.se-carmanagement.de/cars/{{vehicleId}}" target="_blank">
            https://app.se-carmanagement.de/cars/{{vehicleId}}
        </a>
    </p>

    <h4>Ihr Team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a href="https://www.se-carmanagement.de">www.se-carmanagement.de</a>
</body>

</html>