<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - Passwort zurücksetzen</title>
</head>

<body>
    <h3>Passwort vergessen?</h3>

    <p>Um Ihr Passwort zurückzusetzen, klicken Sie bitte auf den untenstehenden Link <a href={{url}}>{{url}}</a>
        Warnung, Token ist nur 10 Minuten gültig!!!</p>

    <h4>Ihr Team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a href="https://www.se-carmanagement.de">www.se-carmanagement.de</a>
</body>

</html>