<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - Ganz entspannt durch die Hauptuntersuchung!</title>
</head>

<body>
    <h3>Ganz entspannt durch die Hauptuntersuchung!</h3>
    <p>
        Hallo,

        es ist wieder soweit: der Termin für die Hauptuntersuchung (HU)
        Ihres Fahrzeuges {{vehicle}} mit Kennzeichen {{registrationPlates}} ist im kommenden Monat fällig.
         
        Wir freuen uns, dass wir Sie bei der Durchführung unterstützen dürfen.
        Während Ihr Fahrzeug auf die fällige Hauptuntersuchung mit „Abgasuntersuchung“ nach § 29 StVZO wartet,
        organisieren wir Ihnen gerne ein Ersatzfahrzeug.
         
        Wir vermitteln Ihren Wunschtermin an eine unserer KFZ- Partnerwerkstätten.
        Nehmen Sie doch gleich Kontakt mit uns auf!
         
        Ihr Fahrzeug hat die HU bereits bestanden? Das freut uns – aber lieber erinnern wir Sie einmal zu viel als zu
        wenig.
    </p>
    <h4>Ihr Team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a href="https://www.se-carmanagement.de">www.se-carmanagement.de</a>
</body>

</html>