<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - TÜV läuft in nachten Monat aus!</title>
</head>

<body>
    <h3>TÜV Lauft in nachten monat ab!</h3>
    <p>TÜV fur ihres fahrzeug {{vehicle}} mit registration nummer {{registrationPlates}} lauft in nachten monat ab!</p>

    <h4>Ihr team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a>www.se-carmanagement.de</a>
</body>

</html>