<!DOCTYPE html>
<html>

<head>
    <title>SE Carmanagement - Vertrauen ist gut. Kontrolle auch!</title>
    <meta charset="UTF-8" />
</head>

<body>
    <h1>Vertrauen ist gut. Kontrolle auch!</h1>
    <p>damit das Fahrvergnügen dauerhaft bleibt, möchten wir Sie heute an die demnächst anstehende Jahres-Inspektion
        Ihres
        {{vehicle}} mit Kennzeichen {{registrationPlates}} erinnern! </p>
    <p><strong>Unsere Empfehlung:</strong> Nicht mit der Inspektion warten, sondern gleich einen Termin vereinbaren.
        Dafür steht Ihnen unser Service-Team sehr gerne unter der Telefonnummer 08121 / 22 43 8-22 oder
    </p>
    <p>per E-Mail unter <a mailto="info@se-carmanagement.de">info@se-carmanagement.de</a> zur Verfügung.</p>
    <p>Während Ihr Fahrzeug im Rahmen dieses Termins einem gründlichen Check auf Herz und  Nieren unterzogen wird, um
        dafür
        zu sorgen, dass es so leistungsfähig bleibt, wie am ersten Tag, organisieren wir Ihnen gerne bei Bedarf ein
        Ersatzfahrzeug. </p>
    <p>Ihr Fahrzeug hat den Service erst kürzlich hinter sich? Das freut uns – aber lieber erinnern wir Sie einmal zu
        viel
        als zu wenig. </p>
    <h4>Ihr team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a>www.se-carmanagement.de</a>
</body>

</html>