<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - Leasing läuft in sechts Monate aus!</title>
</head>

<body>
    <h3>Leasing läuft in sechts Monate aus!</h3>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1646731511/Image1_iihz2k.jpg" alt="credit expires"
        style="height: 300; width: 500px;" />
    <p>ansprache</p>

    <p>die Vertragslaufzeit Ihres Fahrzeuges {{vehicle}} mit Kennzeichen {{registrationPlates}} endet demnächst.
        Da die Automobilwelt im Wandel steht und Sie mit längeren Lieferzeiten rechnen müssen, würden wir gerne mit
        Ihnen zeitnah einen Termin vereinbaren, um die Zukunft Ihres Fahrzeuges zu besprechen.
        Ob Rückgabe, Anschlussvertrag bei der Bank oder Fahrzeugwechsel, wir finden für Sie den optimalen Weg und
        begleiten Sie dabei.
        Sichern Sie sich schon jetzt die besten Konditionen und melden sich bei uns!</p>

    <h4>Ihr team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a>www.se-carmanagement.de</a>
</body>

</html>