<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - AÜ läuft in nachste zwei Monate aus!</title>
</head>

<body>
    <h3>AÜ Lauft in nachten zwei monate ab!</h3>
    <p>AÜ fur ihres fahrzeug {{vehicle}} mit registration nummer {{registrationPlates}} lauft in zwei monaten ab!</p>

    <h4>Ihr Team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a href="www.se-carmanagement.de">www.se-carmanagement.de</a>
</body>

</html>