<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - Ganz entspannt durch die Hauptuntersuchung!</title>
</head>

<body>
    <h3>Ganz entspannt durch die Hauptuntersuchung!</h3>
    <p>
        Hallo,

        es ist wieder soweit: der Termin für die Hauptuntersuchung (HU)
        Ihres Fahrzeuges {{vehicle}} mit Kennzeichen {{registrationPlates}} ist im kommenden Monat fällig.
         
        Wir freuen uns, dass wir Sie bei der Durchführung unterstützen dürfen.
        Während Ihr Fahrzeug auf die fällige Hauptuntersuchung mit „Abgasuntersuchung“ nach § 29 StVZO wartet,
        organisieren wir Ihnen gerne ein Ersatzfahrzeug.
         
        Wir vermitteln Ihren Wunschtermin an eine unserer KFZ- Partnerwerkstätten.
        Nehmen Sie doch gleich Kontakt mit uns auf!
         
        Ihr Fahrzeug hat die HU bereits bestanden? Das freut uns – aber lieber erinnern wir Sie einmal zu viel als zu
        wenig.
    </p>

    <h4>Ihr Team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="max-height: 60px; max-width: 190px;" />

    <p>
        Geltinger Str. 23 <br />
        85652 Pliening
    </p>
    <p></p>

    <p>
        Tel: 08121 / 22 43 8 - 22 <br />
        Fax: 08121 / 22 43 8 - 10
    </p>

    <a href="mailto:info@se-carmanagement.de">info@se-carmanagement.de</a> <br />
    <a href="https://www.se-carmanagement.de" target="_blank">www.se-carmanagement.de</a>

    <p>
        Bitte beachten Sie, dass diese Information ausschließlich für den/die Adressaten bestimmt ist und daher
        vertraulich oder gesetzlich geschützte Informationen enthalten kann. Sollten Sie nicht der bestimmungsgemäße
        Adressat sein, bitten wir Sie den Absender darauf hinzuweisen und im Anschluss diese Mail umgehend zu
        vernichten. Anderen als dem bestimmungsgemäßen Adressaten ist es untersagt, diese E-Mail zu lesen, zu speichern,
        weiterzuleiten oder ihren Inhalt auf welche Weise auch immer zu verwenden. Wir verwenden aktuelle
        Virenschutzprogramme. Für Schäden, die dem Empfänger durch von uns zugesandte mit Viren befallene E-Mails
        entstehen, schließen wir jede Haftung aus.
    </p>

    <p>--</p>
    <p>Schneider & Eberhart Carmanagement GbR Gesellschafter: Maria Schneider und Wolfgang Eberhart</p>
</body>

</html>
