<!DOCTYPE html>
<html>

<head>
    <title>Vehicle Deleted</title>
    <meta charset="UTF-8" />
</head>

<body>
    <h1>Ihr Fahrzeug wurde gelöscht</h1>
    <p>Hallo
    <p>{{recipient}}</p>
    </p>
    <p>Ihr Fahrzeug {{vehicle}} wurde aus dem Fuhrparkmanager gelöscht</p>!</p>

    <h4>Ihr Team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a href="https://www.se-carmanagement.de">www.se-carmanagement.de</a>
</body>

</html>