<!DOCTYPE html>
<html>

<head>
    <title>SE Carmanagement | Ihr Profil wurde erstellt</title>
    <meta charset="UTF-8" />
</head>

<body>
    <h1>SE Carmanagement | Ihr Profil wurde erstellt</h1>
    <p>Vielen Dank, dass Sie sich dazu entschieden haben, die Verwaltung Ihres Fuhrparks an uns als zuverlässigen
        Partner abzugeben. <br />
        Wir von SE-Carmanagement übernehmen sämtliches Fahrzeug- und Fuhrparkmanagement.
        Mit dieser E-Mail übermitteln wir Ihnen wie gewünscht Ihre persönlichen Login Daten.</p>
    <br />
    <p>
        Login Daten:
        E-mail: {{recipientEmail}}
        Password: {{recipientPassword}}

        Bitte besuchen Sie <a href="https://app.se-carmanagement.de/">https://app.se-carmanagement.de/</a> <br />
        Wir managen Ihren Fuhrpark, damit Sie sich um Ihr Kerngeschäft kümmern können.
        Herzlich Willkommen bei Ihrem Team von
    </p>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" style="width: 180px;"
        alt="logo" />
    <p>Geltinger Str. 23 <br />
        85652 Pliening</p>
    <p>Tel: 08121 / 22 43 8-22
        <br />
        Fax: 08121/ 22 43 8 -10
    </p>
    <a href="mailto:info@secarmanagament.de">mail: info@se-carmanagement.de</a> <br />
    <a href="www.se-carmanagement.de">www.se-carmanagement.de</a> <br />
    <span>
        Bitte beachten Sie, dass diese Information ausschließlich für den/die Adressaten bestimmt ist und daher
        vertraulich oder gesetzlich geschützte Informationen enthalten kann. Sollten Sie nicht der bestimmungsgemäße
        Adressat sein, bitten wir Sie den Absender darauf hinzuweisen und im Anschluss diese Mail umgehend zu
        vernichten. Anderen als dem bestimmungsgemäßen Adressaten ist es untersagt, diese E-Mail zu lesen, zu speichern,
        weiterzuleiten oder ihren Inhalt auf welche Weise auch immer zu verwenden. Wir verwenden aktuelle
        Virenschutzprogramme. Für Schäden, die dem Empfänger durch von uns zugesandte mit Viren befallene E-Mails
        entstehen, schließen wir jede Haftung aus.
    </span> <br />
    <span>------------------------------------- </span> <br />
    <span>
        Schneider & Eberhart Carmanagement GbR
        Gesellschafter: Maria Schneider und Wolfgang Eberhart
    </span>
</body>

</html>