<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Carmanagement - Zahlung</title>
</head>

<body>
    <h3>Zahlung {{operation}}</h3>

    <p>Admin hat ein {{paymentType}} Zahlung {{operation}}</p>
    <p>zum <strong>{{vehicle}}</strong></p>
    <p>Link: https://secarmanagement.vercel.app/cars/{{vehicleId}}</p>
    <strong>Geanderte Werte: {{changedValues}}</strong>

    <h4>Ihr team von</h4>
    <img src="https://res.cloudinary.com/dze3eqnby/image/upload/v1645788759/unnamed_jzbylp.jpg" alt="logo"
        style="width: 180px;" />
    <p>Geltinger Str. 23</p>
    <p>85652 Pliening </p>
    <a>www.se-carmanagement.de</a>
</body>

</html>